CONFIG_IDF_TARGET="esp32"
CONFIG_ESP_MAIN_TASK_STACK_SIZE=6144
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_FREERTOS_HZ=1000

# Project hardware defaults. Change with: idf.py menuconfig
CONFIG_IPPHONE_KEYPAD_ROW0=13
CONFIG_IPPHONE_KEYPAD_ROW1=12
CONFIG_IPPHONE_KEYPAD_ROW2=14
CONFIG_IPPHONE_KEYPAD_ROW3=27
CONFIG_IPPHONE_KEYPAD_COL0=26
CONFIG_IPPHONE_KEYPAD_COL1=25
CONFIG_IPPHONE_KEYPAD_COL2=33
CONFIG_IPPHONE_KEYPAD_COL3=32

CONFIG_IPPHONE_I2S_BCLK=18
CONFIG_IPPHONE_I2S_WS=19
CONFIG_IPPHONE_I2S_DOUT=22
CONFIG_IPPHONE_I2S_DIN=23
CONFIG_IPPHONE_I2S_SAMPLE_RATE=16000

CONFIG_IPPHONE_I2C_SDA=21
CONFIG_IPPHONE_I2C_SCL=4
